.env
results
venv
venv*/
audio-*.json
audio-*.srt
audio-*.tsv
audio-*.txt
audio-*.vtt
.DS_Store
.idea/
*/__pycache__/
__pycache__/
*.swp
*.swo
*build/
*install/
log/
logs/
audios/
.vscode/
robotics_audio/audios/client
robotics_audio/audios/server
run_client.sh

